@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:300,300i');
@import "normalize";
@import "variables";
@import "mixin";
@import "grid";

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?49x0f');
  src:  url('../fonts/icomoon.eot?49x0f#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?49x0f') format('truetype'),
    url('../fonts/icomoon.woff?49x0f') format('woff'),
    url('../fonts/icomoon.svg?49x0f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\f107";
}
.icon-facebook2:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-linkedin2:before {
  content: "\eaca";
}

*, *:after, *:before{
	@include box-sizing;
}

body{
	font-family: $main-font;
	color: $font-color;
  font-size: $font-size;
}
.bo-hello{
    position: relative;    
    background: #f9f8fb url(../img/bd_first.png) no-repeat center center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;   
}

.bo-header{
	padding-top: 30px;
  .logo{
  margin-top: 20px;
  }
}

.bo-header__nav{
    float: right;
    list-style: none; 
    li{
    float: left;    
    font-size: $main-font-size;
    font-weight: $font-weight;
    a{
    position: relative;
    text-decoration: none;
    color: $header-color;
    border: 1px solid transparent;
    padding: 5px 15px;
    border-radius: 1.1rem;
    &:hover{
    	border: 1px solid $header-color;
    	@include transition (all, 0.5s, ease);
    }
  }
 }     
}

.container-info{
	color: $header-color;
	text-align: center;
	h1{
		font-family:$header-font;
		font-size: $header-font-size;
		font-weight: $title-font-weight;
    letter-spacing: 3px;
    word-spacing: 20px;
    text-transform: uppercase;
    padding: 175px 0 10px;		
	}
	p{
		padding-bottom:319px; 
    font-size: $main-font-size;
	}
}

.bo-hello__link{
    position: absolute;
    background-color:  #19bd9a;
    border-radius: 50%;
    left: 49%;
    bottom: 77px; 		
  	width: 36px;
  	height: 36px;    
    a{
    text-decoration: none;
    }
    &:hover, &:focus{
    	opacity: 0.9;
    }

    .icon-angle-down{
    position: absolute;
    top: 30%;
    left: 35%;
    color: $header-color;
    }   	
  }

.bo-portfolio{
  background: $main-color-bg;
  padding: 90px 0 100px;
    .portfolio-info{
    text-align: center;
      h2{
        font-family: $header-font;
        text-transform: uppercase;
        font-size: $title-font-size;
        letter-spacing: 3px;
        word-spacing: 3px;
      }
      p{

      }
    }
  }
    
.button-group{
  position: relative;
  padding: 80px 0 75px;
  text-align: center;
    .button{
      background: transparent;
      border: 1.5px solid transparent;
      padding: 15px;
      font-size: $main-font-size;
      &:hover, &:active, &:focus{
        border-bottom: 1.5px solid #19bd9a;
        outline: none;
        @include transition(width, 0.5s, ease);
        }
      }   
}

.grid-item-size,
.grid-item { 
  width: 23.7%; 
}
.grid-item{
  margin-bottom: 5px;
}

